$font-primary: "inter", sans-serif;
$border: transparent;
$width: 100%;
$height: 875px;
$color-primary: #c92071;
$widthcontainer: 1100px;
$color-text-btn: #ffff;
$back-color: #f5f5f5;
$back-color2: #f2f2fe;
$back-color3: #ffffff;
$color-title: #434343;

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  outline: 0;
}
body {
  max-width: $widthcontainer;
  margin: 0 auto;
  border: 2px solid $border;
  background-color: $back-color3;
}
.App {
  display: flex;
  flex-direction: column;
  max-width: $widthcontainer;
  width: 1108px;
  margin: 0 auto;
  border: none;
  background-color: $back-color2;
}
.bt {
  display: none;
}
/* Header styles */
.sidebar-menu {
  display: none;
  position: absolute;
  z-index: 99;
  height: 25px;
  width: 35px;
  justify-content: space-between;
}

/* estilo do cabeçalho da pagina(header)*/
.container {
  max-width: $widthcontainer;
  height: 92px;
  gap: 0px;
  opacity: 0px;
  margin: 0 auto;
  border: 2px solid $border;
  background-color: #ffff;
}

.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.flex img {
  width: 202px;
  height: 34px;
  left: 41px;
  gap: 0px;
  opacity: 0px;
}
#logo {
  width: 243px;
  height: 34px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flex :first-child {
  display: flex;
  width: 30px;
  height: 30px;
  gap: 0px;
  opacity: 0px;
}
.search {
  width: 419px;
  height: 40px;
  top: px;
  margin-left: -20px;
  gap: 0px;
  border: transparent;
  background-color: #f5f5f5;
  border-radius: 8px 8px 0px 0px;
  opacity: 0.9px;
  font-size: 16px;
  font-family: $font-primary;
}

.busca {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 5;
  margin-left: 420px;
  width: 15px;
  height: 15px;
}
.container a {
  width: 112px;
  height: 28px;
  top: 50px;
  left: 991px;
  gap: 0px;
  opacity: 0px;
  color: #434343;
  font-size: 20px;
}

.container button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 114px;
  margin-top: -5px;
  height: 40px;
  opacity: 0px;
  border-radius: 7px;
  border: solid 2px transparent;
  /*fonte do botão*/
  background-color: $color-primary;
  color: $color-text-btn;
  font-weight: bold;
  font-family: $font-primary;
  font-size: 16px;
  align-items: center;
}
.carrinho span {
  position: absolute;
  text-align: center; /* Centraliza o texto horizontalmente */
  line-height: 25px; /* Centraliza o texto verticalmente */
  margin-top: -35.5px; /* Ajusta o posicionamento vertical para centralizar */
  margin-left: 5.5px; /* Ajusta o posicionamento horizontal para centralizar */
  width: 25px;
  height: 25px;
  font-size: 19px;
  color: #f2f2fe;
  background-color: $color-primary;
  font-family: $font-primary;
  font-weight: bold;
  border-radius: 50%;
  display: inline-block; /* Permite definir dimensões e centralizar */
}

/*styles main*/
.container2 {
  height: 80px;
  margin: 0 auto;
  border: 2px solid $border;
  background-color: #ffff;
}

.flex2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.btn {
  display: block;
  height: 25px;
  width: auto;
  font-family: $font-primary;
  align-items: center;
  margin-left: 30px;
  text-decoration: none;
  font-size: 23px;
  background-color: #ffff;
  color: #000000;
  padding-bottom: -2px;
  border-bottom: 5px solid transparent;
  cursor: pointer;
}
.btn:hover {
  color: #c92071;
}

.active {
  display: block;
  height: 25px;
  width: auto;
  font-family: $font-primary;
  align-items: center;
  margin-left: 30px;
  text-decoration: none;
  font-size: 23px;
  background-color: #ffff;
  color: #c92071;
  padding-bottom: -2px;
  border-bottom: 5px solid #c92071;
  cursor: pointer;
}

/*section carrossel*/
.container3 {
  border: 2px solid #000000;
  display: flex;
  max-width: $widthcontainer;
  height: 550px;
  justify-content: flex-end;
  border: 2px solid $border;
  background-color: $back-color;
  justify-content: center;
  overflow: hidden;
}

.flex3 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.ofertas {
  display: flex;
  border: 2px solid $border;
  color: #000000;
  height: 400px;
  width: 600px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 110px;
}
.ofertas span {
  border: 2px solid $border;
  display: flex;
  font-family: $font-primary;
  font-size: 54px;
  font-weight: 800;
  line-height: 66px;
  letter-spacing: 0.9999998807907104px;
  text-align: left;
}

#p {
  border: 2px solid $border;
  font-family: $font-primary;
  color: #f6aa1c;
  font-weight: bold;
  display: flex;
  margin-top: 10px;
  font-size: 16px;
}

.ofertas button {
  margin-top: 30px;
  width: 200px;
  height: 38px;
  border-radius: 5px;
  border: none;
  background-color: $color-primary;
  color: $color-text-btn;
  font-weight: bold;
  font-family: $font-primary;
  font-size: 16px;
  align-items: 22px;
  top: 622px;
  left: 100px;
  gap: 0px;
  opacity: 0px;
}
#oferta {
  font-weight: none;
  color: black;
  font-family: $font-primary;
  margin-top: 10px;
}

.tenis img {
  position: absolute;
  width: 580.51px;
  height: 511.61px;
  margin-left: 320px;
  top: 166.91px;
  filter: drop-shadow(0px 4px 25px rgba(119, 15, 21, 0.08));
  transform: rotate(-19.34deg);
}

.slid {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.slid img {
  width: 78px;
  height: 12px;
  top: 810px;
  left: 681px;
  gap: 0px;
  opacity: 0px;
}

.ornamento {
  border: 2px solid $border;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 140px;
  height: 140px;
  margin-top: -412px;
  margin-left: 953px;
  gap: 0px;
  opacity: 0.4px;
  position: absolute;
}

.ornamento img {
  width: 140px;
  height: 140px;
  top: 272px;
  left: 1263px;
  gap: 0px;
  opacity: 0.4px;
}

/*coleção em destaque*/

.container4 {
  display: flex;
  background-color: $back-color2;
}
.container4 h2 {
  margin-top: 50px;
  margin-left: 90px;
  font-family: $font-primary;
  color: #242424;
}

.container5 {
  border: 2px solid $border;
  width: 1100;
  max-width: $widthcontainer;
  height: 350px;
  background-color: $back-color2;
}

.flex5 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.product {
  display: flex;
  flex-direction: column;
  width: 344px;
  height: 240px;
  top: 971px;
  margin-left: 0px;
  margin-top: 20px;
  gap: 0px;
  border: 2px solid $border;
  border-radius: 8px 8px 8px 8px;
  opacity: 0px;
  background-color: #d8e3f2;
}
.container5 h2 {
  display: flex;
  margin-left: 20px;
  justify-content: flex-start;
  position: relative;
  font-family: $font-primary;
}

.product h3 {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 32px;
  font-family: $font-primary;
}

.camisa img {
  display: flex;
  position: absolute;
  border: 2px solid $border;
  width: 202px;
  height: 251px;
  top: 860px;
  margin-left: 132px;
  gap: 0px;
  opacity: 0px;
}
.sapato img {
  display: flex;
  position: absolute;
  border: 2px solid $border;
  width: 202px;
  height: 251px;
  top: 860px;
  margin-left: 132px;
  gap: 0px;
  opacity: 0px;
}
.fone img {
  display: flex;
  position: absolute;
  border: 2px solid $border;
  width: 202px;
  height: 251px;
  top: 860px;
  margin-left: 132px;
  gap: 0px;
  opacity: 0px;
}

#image {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 96px;
  height: 32px;
  top: 1005px;
  left: 130px;
  padding: 5px 15px 5px 15px;
  gap: 10px;
  border-radius: 20px 20px 20px 20px;
  opacity: 0px;
  background-color: #e7ff86;
}

.product button {
  z-index: 2;
  margin-top: 10px;
  width: 143px;
  height: 38px;
  top: 1139px;
  color: $color-primary;
  margin-left: 20px;
  border: none;
  border-radius: 5px;
  gap: 0px;
  opacity: 0px;

  //styleName: Text Small Bold;
  font-family: $font-primary;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.75px;
  text-align: center;
}

.container6 {
  align-items: center;
  max-width: $widthcontainer;
  border: 2px solid $border;
  background-color: $back-color2;
}

.container6 h2 {
  display: flex;
  flex-direction: row;
  color: #000000;
  justify-content: center;
  font-family: $font-primary;
}

.container7 {
  width: 710px;
  height: 138px;
  gap: 0px;
  opacity: 0px;
  margin: 0 auto;
  border: 2px solid $border;
  background-color: $back-color2;
}
.flex7 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.colecao {
  border: 2px solid $border;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 138px;
  width: 104px;
}
.radius {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 94px;
  width: 94px;
  border-radius: 50%;
  background-color: #ffffff;
}

.colecao img {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  height: 64px;
  width: 64px;
}

.colecao p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  font-family: $font-primary;
  font-size: 14px;
  font-weight: bold;
}

/*coleção em destaque*/

#container8 {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  width: 1100px;
  color: #000000;
}
#container8 button {
  display: flex;
  width: 88px;
  height: 34px;
  margin-right: 0px;
  align-items: center;
  border: 2px solid transparent;
  background-color: transparent;
  font-family: $font-primary;
  font-size: 18px;
  color: $color-primary;
}
#container8 img {
  width: 24px;
  height: 24px;
  margin-right: -20px;
}

#container8 h2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  font-family: $font-primary;
  font-size: 24px;
  margin-left: 30px;
  width: 300px;
}

.container9 {
  width: 100%;
  padding: 2px;
  display: flex;
  width: 1100px;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.grid-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 90px;
  width: 232px;
  height: 419;
  border: 2px solid $border;
  border-radius: 2%;
  margin: 10px 5px;
}
.back-image {
  background-color: #ffff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid $border;
}

#grid-tenis {
  border: 2px solid $border;
  margin-left: -40px;
  width: 262px;
  height: 419;
}

.grid-product p {
  margin-left: 0px;
  margin-top: 5px;
  font-family: $font-primary;
  font-size: 20px;
  font-weight: none;
  border: 2px solid $border;
}
.preco {
  text-decoration: line-through;
  border: 2px solid $border;
  color: #858585;
}
.mini-text {
  margin-left: 0px;
  font-family: $font-primary;
  font-size: 12px;
  border: 2px solid $border;
}

#grid-oferta {
  display: flex;
  width: 96px;
  height: 32px;
  margin-top: 20px;
  margin-left: 20px;
  padding: 5px, 15px, 5px, 15px;
  border: 2px solid $border;
}

.container10 {
  background-color: #ffff;
  display: flex;
  height: 553px;
  border: 2px solid $border;
}

.tenis1 {
  height: 340px;
  width: 680px;
}

#elipse {
  position: absolute;
  z-index: 2;
  height: 436px;
  width: 436px;
  margin-top: 90px;
  margin-left: 160px;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;

  background: linear-gradient(
    180deg,
    rgba(66, 0, 255, 0.25) -40.67%,
    rgba(255, 255, 255, 0) 100%
  );
}

.tenis1 img {
  position: absolute;
  z-index: 2;
  width: 543px;
  height: 300;
  border: 2px solid $border;
  margin-top: 120px;
  margin-left: -240px;
}

.text-final {
  width: 550px;
  margin-right: -10px;
  margin-top: 30px;
  border: 2px solid $border;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#text {
  margin-top: 90px;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.75px;
  text-align: left;
  color: #c92071;
}

.tema {
  display: flex;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.9999998807907104px;
  text-align: left;
}

p {
  //styleName: Text Small - Desktop;

  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.75px;
  text-align: left;
  color: #474747;
}

.text-final button {
  margin-top: 30px;
  width: 200px;
  height: 38px;
  border-radius: 5px;
  border: none;
  background-color: $color-primary;
  color: $color-text-btn;
  font-weight: bold;
  font-family: $font-primary;
  font-size: 16px;
  align-items: 22px;
  top: 622px;
  left: 100px;
  gap: 0px;
  opacity: 0px;
}
.container11 {
  flex-direction: row;
  height: 454px;
  width: 1110px;
  gap: 0px;
  opacity: 0px;
  background: #1f1f1f;
}

#text-logo {
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: $font-primary;
  font-size: 16px;
  color: #ffff;
}

#text-logo1 {
  margin-bottom: 30px;
  font-family: $font-primary;

  font-size: 16px;
  color: #ffff;
}

.flex11 {
  display: flex;
}

.footer-list {
  margin-left: 100px;
  font-family: $font-primary;
  font-size: 16px;
  border: 2px solid $border;
  width: 200px;
}

ul {
  list-style-type: none; /* Remove os marcadores */
  padding: 0; /* Remove o padding padrão */
  margin: 0; /* Remove a margem padrão */
  color: #ffff;
}

li {
  font-family: $font-primary;
  font-size: 16px;
  padding: 10px 0; /* Adiciona espaçamento entre os itens da lista */
}

.footer-logo {
  margin-left: 90px;
  border: 2px solid $border;
  width: 400px;
}
.footer-logo img {
  margin-top: 90px;
}
#footer-image {
  margin-top: 10px;
}

.footer-list1 {
  border: 2px solid $border;
  width: 300px;
}

.footer-list2 {
  border: 2px solid $border;
  width: 350px;
}
h6 {
  border: 2px solid $border;
  margin-top: 90px;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: $font-primary;
  color: #ffff;
}

.footer-text {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  border-top: 1px solid #ffff;
  background: transparent;
  font-family: $font-primary;
  font-size: 13px;
  color: #ffff;
  width: 90%;
  height: 40px;
}
.roda-pe {
  background: #1f1f1f;
  display: flex;
  width: 1110px;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 500px) {
  .App {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -30px;
    margin-left: -40px;
    width: 480px;
    justify-content: flex-start;
    background-color: $back-color2;
  }
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .sidebar-menu {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-top: 20px;
    width: 100px;
    height: 0px;
    padding-top: 0px;
  }

  .hamburger-button {
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 30px;
    height: 24px;
    width: 23px;
  }

  .bar {
    width: 100%;
    height: 3px;
    background-color: #333;
    transition: transform 0.3s ease;
  }

  /* Estilo do menu lateral */
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: none;
    position: fixed;
    top: 80px;
    left: -350px; /* Oculta o menu fora da tela */
    height: 100%;
    width: 300px;
    background-color: $back-color3;
    color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease;
    z-index: 1000;
  }

  .sidebar.open {
    left: 0; /* Mostra o menu lateral quando aberto */
  }

  .sidebar ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
    list-style: none;
    padding: 0;
    margin-top: 50px;
  }

  .sidebar h3 {
    margin-bottom: 30px;
    font-family: $font-primary;
    font-size: 22px;
    color: $color-title;
  }

  .sidebar li {
    padding: 15px;
  }

  .sidebar a {
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    margin-left: -15px;
    font-family: $font-primary;
    font-size: 22px;
    color: $color-title;
  }

  .sidebar a:hover {
    color: $color-primary;
  }

  .sidebar a:active {
    border-bottom: 5px solid #c92071;
  }

  .entrar {
    border-top: 2px solid #bbbbbb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin-left: 25px;
    margin-top: 160px;
  }

  .entrar button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 250px;
    margin-top: 15px;
    margin-bottom: 10px;
    height: 40px;
    opacity: 0px;
    border-radius: 7px;
    border: solid 2px transparent;
    /*fonte do botão*/
    background-color: $color-primary;
    color: $color-text-btn;
    font-weight: bold;
    font-family: $font-primary;
    font-size: 16px;
    align-items: center;
  }
  .entrar a {
    text-decoration: underline;
  }

  /* Estilo do botão de fechar */
  .close-button {
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .container {
    width: 450px;
    height: 50px;
    opacity: 0px;
    margin-top: 20px;
    padding-top: 30px;
    border: 2px solid $border;
    background-color: #ffff;
  }

  .openDiv {
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .flex {
    display: flex;
    flex-direction: row;
  }
  .flex img {
    width: 102px;
    height: 24px;
    left: 41px;
    margin-top: 30px;
    gap: 0px;
    opacity: 0px;
  }
  #logo {
    display: flex;
    z-index: 30;
    width: 163px;

    margin-top: -60px;
    height: 24px;
    margin-left: 15%;
    justify-content: flex-start;
    align-items: center;
  }

  .flex :first-child {
    display: flex;
    width: 23px;
    height: 23px;
    margin-right: 6px;
    gap: 0px;
    opacity: 0px;
  }
  .search {
    display: none;
    position: absolute;
    z-index: 30;
    width: 300px;
    height: 60px;
    margin-top: 80px;
    margin-left: 20px;
    gap: 0px;
    border: transparent;
    background-color: #f5f5f5;
    border-radius: 8px 8px 0px 0px;
    opacity: 0.9px;
    font-size: 16px;
    font-family: $font-primary;
  }

  .openSearch {
    display: flex;
  }

  .busca {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 5;
    margin-left: 50px;
    width: 12px;
    height: 12px;
    cursor: pointer;
  }
  .container a {
    display: none;
    width: 102px;
    height: 28px;
    top: 50px;
    left: 991px;
    gap: 0px;
    opacity: 0px;
    color: #434343;
    font-size: 20px;
  }

  .container button {
    display: none;
    flex-direction: row;
    justify-content: center;
    width: 114px;
    margin-top: -5px;
    height: 40px;
    opacity: 0px;
    border-radius: 7px;
    border: solid 2px transparent;
    /*fonte do botão*/
    background-color: $color-primary;
    color: $color-text-btn;
    font-weight: bold;
    font-family: $font-primary;
    font-size: 16px;
    align-items: center;
  }
  .carrinho {
    margin-right: -10px;
    margin-top: -60px;
  }

  #carrinho {
    width: 30px;
    height: 30px;
  }

  .carrinho span {
    position: absolute;
    text-align: center; /* Centraliza o texto horizontalmente */
    line-height: 25px; /* Centraliza o texto verticalmente */
    margin-top: -35.5px; /* Ajusta o posicionamento vertical para centralizar */
    margin-left: 2.5px; /* Ajusta o posicionamento horizontal para centralizar */
    width: 25px;
    height: 25px;
    font-size: 19px;
    color: #f2f2fe;
    background-color: $color-primary;
    font-family: $font-primary;
    font-weight: bold;
    border-radius: 50%;
    display: inline-block; /* Permite definir dimensões e centralizar */
  }

  .container2 {
    display: none;
    max-width: $widthcontainer;
    height: 80px;
    margin: 0 auto;
    border: 2px solid $border;
    background-color: #ffff;
  }

  .container3 {
    max-width: 420px;
    height: 900px;
    border: 2px solid $border;
    background-color: $back-color;
  }

  .flex3 {
    display: flex;
    flex-direction: column;
  }
  .ofertas {
    display: flex;
    border: 2px solid $border;
    color: #000000;
    height: 400px;
    width: 350px;
    margin-top: 100px;
    margin-left: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ofertas span {
    border: 2px solid $border;
    display: flex;
    font-family: $font-primary;
    font-size: 40px;
    font-weight: 800;
    line-height: 66px;
    letter-spacing: 0.9999998807907104px;
    text-align: center;
  }

  #p {
    border: 2px solid $border;
    font-family: $font-primary;
    color: $color-primary;
    font-weight: bold;
    display: flex;
    margin-top: 10px;
    font-size: 16px;
  }

  .ofertas button {
    margin-top: 30px;
    width: 200px;
    height: 38px;
    border-radius: 5px;
    border: none;
    background-color: $color-primary;
    color: $color-text-btn;
    font-weight: bold;
    font-family: $font-primary;
    font-size: 16px;
    align-items: 22px;
    top: 622px;
    left: 100px;
    gap: 0px;
    opacity: 0px;
  }
  #oferta {
    font-weight: none;
    color: black;
    font-family: $font-primary;
    font-size: 13px;
    margin-top: 10px;
  }

  .tenis img {
    border: 2px solid $border;
    display: flex;
    z-index: 0;
    margin-top: -90px;
    margin-left: -530px;
    width: 380.51px;
    height: 381.61px;

    filter: drop-shadow(0px 4px 25px rgba(119, 15, 21, 0.08));
    transform: rotate(-19.34deg);
  }

  .slid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -200px;
  }

  .slid img {
    width: 78px;
    height: 12px;
    top: 810px;
    left: 681px;
    gap: 0px;
    opacity: 0px;
  }

  .ornamento {
    border: 2px solid $border;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 140px;
    height: 140px;
    top: 122px;
    left: 323px;
    gap: 0px;
    opacity: 0.4px;
    position: absolute;
  }

  .ornamento img {
    width: 140px;
    height: 140px;
    top: 272px;
    left: 1263px;
    gap: 0px;
    opacity: 0.4px;
  }
  .container4 {
    display: flex;
    margin-bottom: 100px;
    background-color: $back-color2;
  }
  .container4 h2 {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-top: -100px;
    margin-bottom: 120px;
    margin-left: 20px;
    font-family: $font-primary;
    color: #242424;
  }

  .container5 {
    border: 2px solid $border;
    margin-top: 100px;
    width: 420px;
    max-width: $widthcontainer;
    background-color: $back-color2;
  }

  .flex5 {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  .product {
    display: flex;
    flex-direction: column;
    width: 344px;
    height: 230px;
    top: 971px;
    margin-left: 0px;
    margin-top: 20px;
    gap: 0px;
    border: 2px solid $border;
    border-radius: 8px 8px 8px 8px;
    opacity: 0px;
    background-color: #d8e3f2;
  }
  .container5 h2 {
    display: flex;
    margin-left: 20px;
    justify-content: flex-start;
    position: relative;
    font-family: $font-primary;
  }

  .product h3 {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 32px;
    font-family: $font-primary;
  }

  .camisa img {
    display: block;
    position: static;
    border: 2px solid $border;
    width: 192px;
    height: 241px;
    margin-top: -220px;
    margin-left: 152px;
    gap: 40px;
    opacity: 0px;
  }

  .sapato img {
    display: block;
    position: static;
    border: 2px solid $border;
    width: 192px;
    height: 241px;
    margin-top: -220px;
    margin-left: 152px;
    gap: 40px;
    opacity: 0px;
  }
  .fone img {
    display: block;
    position: static;
    border: 2px solid $border;
    width: 192px;
    height: 241px;
    margin-top: -220px;
    margin-left: 152px;
    gap: 40px;
    opacity: 0px;
  }

  #image {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 96px;
    height: 32px;
    top: 1005px;
    left: 130px;
    padding: 5px 15px 5px 15px;
    gap: 10px;
    border-radius: 20px 20px 20px 20px;
    opacity: 0px;
    background-color: #e7ff86;
  }

  .product button {
    z-index: 2;
    margin-top: 10px;
    border: none;
    padding: 10px;
    width: 143px;
    height: 88px;
    top: 1139px;
    color: $color-primary;
    margin-left: 20px;
    border-radius: 5px;
    gap: 0px;
    opacity: 0px;

    //styleName: Text Small Bold;
    font-family: $font-primary;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.75px;
    text-align: center;
  }

  .container6 {
    display: flex;
    margin-top: 270px;
    margin-left: 20px;
    flex-direction: row;
    align-items: flex-end;
    max-width: $widthcontainer;
    border: 2px solid $border;
    background-color: $back-color2;
  }

  .container6 h2 {
    display: flex;
    flex-direction: row;
    color: #000000;
    justify-content: center;
    font-family: $font-primary;
  }

  .container7 {
    width: 710px;
    height: 138px;
    gap: 0px;
    opacity: 0px;
    margin: 0 auto;
    border: 2px solid $border;
    background-color: $back-color2;
  }
  .flex7 {
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .colecao {
    border: 2px solid $border;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 138px;
    width: 104px;
  }
  .radius {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 94px;
    width: 94px;
    border-radius: 50%;
    background-color: #ffffff;
  }

  .colecao img {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    height: 64px;
    width: 64px;
  }

  .colecao p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    font-family: $font-primary;
    font-size: 14px;
    font-weight: bold;
  }
  .container8 {
    border: 2px solid $border;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 50px;
    width: 370px;
    margin-left: 20px;
    color: #000000;
  }
  .flex8 {
    display: flex;
    flex-direction: row;
  }

  .container8 button {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 20px;
    margin-right: -90px;
    width: 388px;
    height: 34px;
    border: 2px solid transparent;
    background-color: transparent;
    font-family: $font-primary;
    font-size: 18px;
    color: $color-primary;
  }
  .container8 img {
    width: 24px;
    height: 24px;
    padding: 7.5px 4px 7.5px 4px;
    gap: 0px;
    opacity: 0px;
  }

  .container8 h2 {
    border: 2px solid $border;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 0px;
    font-family: $font-primary;
    font-size: 24px;
    width: 500px;
  }
  .container9 {
    width: 100%;
    padding: 2px;
    display: flex;
    margin-left: 5px;
    width: 390px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0px;
  }

  .grid-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0px;
    width: 162px;
    height: 359px;
    border: 2px solid $border;
    border-radius: 2%;
    margin: 10px 5px;
  }
  .back-image {
    background-color: #ffff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid $border;
  }

  #grid-tenis {
    border: 2px solid $border;
    margin-left: -40px;
    width: 192px;
    height: 419;
  }

  .grid-product p {
    margin-left: 0px;
    margin-top: 5px;
    font-family: $font-primary;
    font-size: 20px;
    font-weight: none;
    border: 2px solid $border;
  }
  .preco {
    text-decoration: line-through;
    border: 2px solid $border;
    color: #858585;
  }
  .mini-text {
    margin-left: 0px;
    font-family: $font-primary;
    font-size: 12px;
    border: 2px solid $border;
  }

  #grid-oferta {
    display: flex;
    width: 96px;
    height: 32px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 5px, 15px, 5px, 15px;
    border: 2px solid $border;
  }
  .container10 {
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20px;
    padding-top: 220px;
    height: 553px;
    border: 2px solid $border;
  }

  .tenis1 {
    position: absolute;
    border: 2px solid $border;
    height: 350px;
    width: 350px;
  }

  #elipse {
    position: absolute;
    z-index: 2;
    width: 303px;
    height: 303px;
    margin-top: -290px;
    margin-left: 20px;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;

    background: linear-gradient(
      180deg,
      rgba(66, 0, 255, 0.25) -40.67%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .tenis1 img {
    position: absolute;
    z-index: 2;
    width: 333px;
    height: 190px;
    border: 2px solid $border;
    margin-top: -250px;
    margin-left: -180px;
  }

  .text-final {
    width: 550px;
    margin-right: -10px;
    margin-top: 30px;
    border: 2px solid $border;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  #text {
    margin-top: 90px;
    margin-bottom: 20px;
    font-family: "Inter", sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.75px;
    text-align: left;
    color: #f6aa1c;
  }

  .tema {
    display: flex;
    margin-bottom: 20px;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.9999998807907104px;
    text-align: left;
  }

  p {
    //styleName: Text Small - Desktop;

    font-family: "Inter", sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.75px;
    text-align: left;
    color: #474747;
  }

  .text-final button {
    margin-top: 30px;
    width: 200px;
    height: 38px;
    border-radius: 5px;
    border: none;
    background-color: $color-primary;
    color: $color-text-btn;
    font-weight: bold;
    font-family: $font-primary;
    font-size: 16px;
    align-items: 22px;
    top: 622px;
    left: 100px;
    gap: 0px;
    opacity: 0px;
  }
  .container11 {
    flex-direction: row;
    height: 950px;
    gap: 0px;
    opacity: 0px;
    background: #1f1f1f;
  }
  .flex11 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }

  #text-logo {
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: $font-primary;
    font-size: 16px;
    color: #ffff;
  }

  #text-logo1 {
    margin-bottom: 30px;
    font-family: $font-primary;
    font-size: 16px;
    color: #ffff;
  }

  .footer-list {
    margin-left: 100px;
    font-family: $font-primary;
    font-size: 16px;
    border: 2px solid $border;
    width: 200px;
  }

  ul {
    list-style-type: none; /* Remove os marcadores */
    padding: 0; /* Remove o padding padrão */
    margin: 0; /* Remove a margem padrão */
    color: #ffff;
  }

  li {
    font-family: $font-primary;
    font-size: 16px;
    padding: 10px 0; /* Adiciona espaçamento entre os itens da lista */
  }

  .footer-logo {
    margin-left: 90px;
    border: 2px solid $border;
    width: 400px;
  }
  .footer-logo img {
    margin-top: 90px;
  }
  #footer-image {
    margin-top: 10px;
  }

  .footer-list1 {
    border: 2px solid $border;
    width: 300px;
    margin-top: -370px;
    margin-left: 300px;
  }

  .footer-list2 {
    border: 2px solid $border;
    width: 300px;
    margin-left: 100px;
  }
  h6 {
    border: 2px solid $border;
    margin-top: 90px;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: $font-primary;
    color: #ffff;
  }

  .footer-text {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    border-top: 1px solid #ffff;
    background: transparent;
    font-family: $font-primary;
    font-size: 13px;
    color: #ffff;
    width: 90%;
    height: 40px;
  }
  .roda-pe {
    background: #1f1f1f;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 450px;
  }
}
